@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  list-style:none;
  list-style-position: outside;
  text-decoration:none;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  color: white;
}
/* Navbar */
section #home nav .navbar{
  margin: 10px 20px;
}
section #home nav .navbar ul{
  display: flex;
  justify-content: flex-end;
}
section #home nav .navbar ul .title{
  justify-content: flex-start;
  margin-right: auto;
}
section #home nav .navbar ul li{
  float: left;
  padding: 10px 10px;
  text-align: center;
  margin-left: 10px;
  transition: background-color 0.3s;
  border-radius: 10px;
}
section #home nav .navbar ul .subdiv .sub{
  margin-top: 10px;   
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  display: none;
  background: linear-gradient(15deg,  rgb(219, 212, 212), rgb(156, 151, 183) 80%);
  border-radius: 10px;
  min-width:63.5vw;   
}
section #home nav .navbar ul #Destination .sub{
  min-width: 87vw;
}
section #home nav .navbar ul .subdiv .sub div{
  padding: 20px;
}
section #home nav .navbar ul .subdiv .sub div h3{
  padding: 5px;
}
section #home nav .navbar ul .subdiv:hover .sub{
  display: -webkit-box;
  transition: background-color 0.3s;
}
section #home nav .navbar ul .subdiv:hover .sub a{
  display:block;
  padding: 2px;
}
section #home nav .navbar ul .subdiv .sub a:hover{
  color: rgb(212, 189, 197);
  text-shadow: 1px 1px 1px rgb(27, 40, 45);
}
section #home nav .navbar ul .nav-list:hover{
  background-color: rgba(156, 151, 183, .9);
  border-radius: 10px;
  color:rgb(27, 40, 45);
  transition: opacity 0.3s;
}
section #home nav .navbar ul .subdiv:hover{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
section #home nav .navbar ul .nav-list:hover a{
color:rgb(27, 40, 45);
}
section #home nav .navbar ul .login{
background: rgb(27, 40, 45);
border-radius: 10px;
width: 50px;
}


/* Background */
section #home{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/media/background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
section #home .container{
margin: 7% 0 3% 8%;
}
section #home .container h1{
font-size: 7vh;
}
section #home .container h2{
font-size: 3vh;
}
section #home .container a{
background: rgb(156, 151, 183);
color: rgb(27, 40, 45);
padding: 10px;
border-radius: 10px;
pointer-events: none;

}
section #home .TypeSlide{ 
  display: flex;
  padding: 20px 6.5%;
}
section #home .TypeSlide .card{
  margin-left: 20px;
  cursor: pointer;
}
section #home .TypeSlide .card:hover .lower img{
  opacity: 0.7;
  transition: opacity 0.3s;
}
section #home .TypeSlide .card .upper{
  display: flex;
  line-height: 25px;
  height: 25px;
}
section #home .TypeSlide .card .upper img{
  height: 20px;
  padding-left: 10px;
}
section #home .TypeSlide .card .lower{
  position: relative;
}
section #home .TypeSlide .card .lower a{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
section #home .TypeSlide .card .lower:hover a{
  opacity: 1;
  transition: opacity 0.3s;
}
section #home .TypeSlide .card .lower img{
  width: 170px;
  border-radius: 5px;
}

/* Trending */
section .Trending{
  background: linear-gradient(0deg, rgb(156, 151, 183), rgb(23, 33, 24) 100%) ;
  padding: 10px 130px;
}
section .Trending .heading{
  justify-content: space-between;
  height: 100%;
  display: flex;
}
section .Trending .heading .view{
  justify-content: flex-end;
  display: flex;
}
section .Trending .heading .button{
  padding: 6px 10px;
  margin: 4px;
  background: rgba(27, 40, 45, .3);
  border-radius: 10px;
}
section .Trending .heading a img{
  width: 42px;
  line-height: 42px;
  height: 42px;
  cursor: pointer;
  margin-left: 10px;
}
section .Trending h1{
  font-size: 28px;
  font-weight: 500;
}
section .Trending .cards{
  display: flex;
}
section .Trending .cards .card{
  width: 240px;
  text-align: center;
  margin-left: 20px;
}
section .Trending .cards .card .upper{
  position: relative;
}
section .Trending .cards .card .upper a{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
section .Trending .cards .card .upper:hover a{
  opacity: 1;
}
section .Trending .cards .card .upper img{
  width: 240px;
  border-radius: 6px;
}
section .Trending .cards .card .lower{
  width: 240px;  
}
section .Trending .cards .card:hover img{
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s;
}
section .Trending .cards {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  .card {
    display: inline-block;
  }
}
section .Trending .cards .card-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

section .Trending .cards ::-webkit-scrollbar{
  width: 0;
}
section .Trending .cards {
  -webkit-overflow-scrolling: touch;
}
section .Trending .cards {
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Tourism thems */
section .themes{
  background: rgb(156, 151, 183);
  padding: 10px 130px;
}
section .themes h1{
  font-size: 28px;
  font-weight: 500;
}
section .themes .cards{
  display:flex;
}
section .themes .cards .card{
  width: 120px;
  height: 120px;
  background: white;
  margin-left: 20px;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
section .themes .cards .card:hover img{
  opacity: .7;
}
section .themes .cards .card h3{
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: rgb(23, 33, 24);
}
section .themes .cards .card img{
  width: 65%;
  padding: 10% 20%;
  margin-top: -20px;
  height: 100px;
}
section .themes .cards .card:hover img{
  height: 105px;
  overflow: hidden;
  transition: opacity .3s;
}

/* Overview about India tourism */
section .overview{
  background-color: rgb(156, 151, 183);
  padding: 80px 130px;
  display: flex;
}
section .overview h1{
  font-size: 28px;
  font-weight: 500;
  color: rgb(23, 33, 24);
}
section .overview h2{
  color:rgb(212, 189, 197);
}
section .overview .img img{
  margin-top: 50px;
  width: 500px;
  height: 650px;
  border-radius: 10px;
}
section .overview .img{
  position: relative;
  display: inline-block;
}
section .overview.img #myImage{
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}
section .overview .img #myText{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 96%;
  font-size: 25px;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
}
section .overview .description{
  margin-left: 30px;
}
section .overview .description .text{
  text-align: justify;
}


/* Choose us */
section .choose{
  padding: 30px 130px;
  background: linear-gradient(0deg,  rgb(23, 33, 24), rgb(156, 151, 183) 100%);
  .feat{
    display: flex;
    margin-top: 10px;
    background-color: rgba(156, 151, 183, .7);
    color: black;
    padding: 15px;
    border-radius: 10px;
  }
}
section .choose h1{
  font-size: 35px;
  color: rgb(23, 33, 24);
  ;
}
section .choose .feat .feat-item{
  padding: 10px;
  text-align: justify;
}
section .choose .feat .feat-item .head{
  display: flex;
  line-height: 30px;
  height: 30px;
  margin-bottom: 5px;
}
section .choose .feat .feat-item .head h3{
  color: black;
  text-decoration: underline;
}
section .choose .feat .head img{
  width: 30px;
  height: 30px;
}


/* footer */
footer .container{
  display: flex;
  background-color: rgb(156, 151, 183);
  padding: 10px 130px;

}
footer h2{
  color: rgb(23, 33, 24);
}
footer .container .main{
  margin-left: 10px;
}
footer .container .policy{
  margin-left: 180px; 
}
footer .container .social{
  margin-left: 180px;
}
footer .container .social ul{
  display: flex;
}
footer .container .social ul li{
  margin-left: 20px;
}
footer .container .social img{
  width: 30px;
}
footer .rights{
  background-color: rgb(23, 33, 24);
  padding: 10px;
  text-align: center;
}


/* Packages css */
/* Info */
section #home .top{
  display: flex;
}
section #home .top .Info{
  padding: 70px 0px 0px 100px;
  width: 700px;
}
section #home .top .Info h1{
  font-size: 45px;
}
section #home .top .Info p{
  text-align: justify;
  padding: 5px 0px;
}
section #home .top .Info a{
  color: gray;
}


/* OverView and Enquiry Form */
section #info{
  display: flex;
  padding: 20px 120px;
  padding-bottom: 80px;
  background: linear-gradient(0deg,  rgb(23, 33, 24), rgb(156, 151, 183) 40%);
}

section #info .over-view{
  width:55%;
  padding-right: 40px;
}
section #info .over-view h1{
  color: rgb(23, 33, 24);
  font-size: 28px;
}
section #info .over-view p{
  text-align: justify;
}
section #info .form{
  border-radius: 10px;
  background-color: rgba(156, 151, 183, .8);
  padding: 20px 35px;
  width: 35%;
  .img{
      width: 70px;
      margin: 5px auto;
  }
  .head{
      width: 100%;
  }
  .img img{
      width: 100%;
  }
}
section #info .form .head h1{
  text-align: center;
  font-size: 32px;
  color:rgb(23, 33, 24);
}  
section #info .form form{
  width: 100%;
  margin: 28px;
  .button{
  background: rgb(156, 151, 183);
  cursor: pointer;
  margin: 10px;
  }
  .button:hover{
      background-color: rgba(156, 151, 183, .8);
  }
  .area{
      height: 80px;
      padding: 5px 10px;
  }
}
section #info .form form input, button, textarea{
  width: 300px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid rgb(23, 33, 24);
  color: rgb(23, 33, 24);
  padding: 0px 10px;
}
section #info .form form .inline{
  display: flex;
  .sub{
      width: 130px;
      margin-right: 20px;
  }
}